*{
    transform: scale(0.);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: nunito,Helvetica,Arial,sans-serif;
}

header{
    height: 70px;
    background-color: #162447;
    width: 100%;
    display: inline-block;
    padding: 10px 8%;   
    align-items: center;
}   

nav{
    height: auto;
    width: 100%;
    padding: 1px;
    background-color: #BAE8E8;
    position: relative;
    bottom: 5px;
}

#announcements{
    margin: 50px auto;
    width: 80%;
    height: 150px;
    background-color: #fdfdfdbb;
}
.bottom-nav{
    position: relative;
    bottom: 4px;
    height: 455px;
    width: 100%;
    background-color: #E33E5A;
}

footer{
    height: 114px;
    background-color: #1F4068;
}
/* RODO  dziala tylko zmien (display zeby bylo aktywen)*/

#rodo{
    position: static;
    bottom: 0px;
    padding: 30px;
    height: auto;
    background-color: #242020;
    position: fixed;
    color: white;
    font-family: 'Montserrat', sans-serif; 
    font-size: large;
    z-index: 1;
    display: none;
  }
  
.buttonrodo{
    background-color: black;
    color: white;
    width: 80px;
    text-align: center;
    padding: 5px;
    border-radius: 10%;
  }
  
.buttonrodo:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.3s;
  }
  
  /* END RODO */

  /* Header */

  #menu{        
    width: auto;
    float: right;
    color: white;
    letter-spacing: 1px;
    white-space: nowrap;      
    }


    #logo-header{
        float: left;
        position: relative;
        bottom: 10px;
    }

    .logo-header{
        margin: 5px;
        float: left;
        height: 70px;
        width: 100px;
    }

    a{
        color: white;
        text-decoration: none;
    }

    a:hover{
        color: rgba(31, 25, 25, 0.5);
        text-decoration: none;
    }

    .bottom{
        margin: 0 2px;
    }

    .bottom-ad{
        margin: 20px;
        padding: 7px 22px;
        background: #fff;
        color: #002f34;
        float: right;
        font-size: 8px;
    }

    /* Search */

    #search-header{
        margin:  0 0 0 0%;
        padding: 5px;
        display: inline;
        float: left;
        height: 50px;
        width: auto; 
        display: flex;        
        position: absolute;
        left: 37%;
    }

    #search-form {
        margin: 1px;   
        background: #ffffff;
        border: none;
        border-radius: 3px;
        padding: 0 10px 0 10px;
        width: 250px;
        height: 34px;
        font-family: nunito,Helvetica,Arial,sans-serif;
        font-weight: 800;
        outline: none;
        color: #000000;
        transition: width 1.5s;
        letter-spacing: .2px;
        }

    #searchsubmit{
        padding: 15px;
        cursor: pointer;
        outline: none;
        border: none;
        background: 0 0;
        color: rgb(255, 255, 255);
        font-size: 12px;
        transition: .1s ease-in-out;
    }

  /* END Header */

  /* Bottom nav */

  .logo-bottom-nav{
    height: 120px;
    width: 90px;
    padding: 60px 0 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .text-bottom-nav{
    padding: 80px 0 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

    /* Search */

    #search-header{
        margin:  0 0 0 0%;
        padding: 5px;
        display: inline;
        float: left;
        height: 50px;
        width: 35%; 
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #search-form {
        margin: 1px;   
        background: #ffffff;
        border: none;
        border-radius: 3px;
        padding: 0 10px 0 10px;
        width: 250px;
        height: 34px;
        font-family: nunito,Helvetica,Arial,sans-serif;
        font-weight: 800;
        outline: none;
        color: #000000;
        transition: width 1.5s;
        letter-spacing: .2px;
        }

    #searchsubmit{
        padding: 15px;
        cursor: pointer;
        outline: none;
        border: none;
        background: 0 0;
        color: rgb(255, 255, 255);
        font-size: 12px;
        transition: .1s ease-in-out;
    }

  /* END Header */

  /* Bottom nav */

  .logo-bottom-nav{
    padding: 60px 0 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .text-bottom-nav{
    padding: 80px 0 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  /* Footer */

.buttons-footer{
    padding: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#footer-links{
    padding: 20px 0 40px 10%;
    height: auto;
    width: 20%;
    float: left;
}

#footer-links-2{
    padding: 20px 0 40px 5%;
    height: auto;
    width: 20%;
    float: left;
}

#footer-icons{
    margin: 20px 40px 0 0;
    height: auto;
    float: right;
    color: #ffffff;
}           

.p-footer{
    text-align: center;
}


.link-to-app{
    margin: 10px 10px 0 10px;
    height: 40px;
    width: 140px;
    border-radius: 7%;
}

#user-ad{
    width: auto;
    height: 150px;
    float: left;
}

.user-photo{
    margin: 10px 0px 10px 20px;
    border-radius: 100%;
    float: left;
}

#text-area{
    float: left;
    margin: 10px 20px;
    width: 60%;
    height: 120px;
    background-color: #E33E5A;
}

#opinion{
    width: auto;
    height: 150px;
    border-radius: 100%;
    float: right;
}

.user-photo-2{
    margin: 10px 20px 10px 0;
    border-radius: 100%;
}

.ad-title{
    padding: 0 0 10px 0;
}


  /* END Footer */

  @media only screen and (min-width: 767px) {
 
    header{
        height: 90px;
        padding: 20px 5%;   
    }

    #search-header{
        padding: 6px;
        float: left;
        height: 50px;
        left: 20%;
    }

    #search-form {
        margin: 0px;   
        padding: 0 10px;
        width: 150  px;
        }

    #searchsubmit{
        padding: 0 0 0 15px;
        cursor: pointer;
        outline: none;
        border: none;
        background: 0 0;
        color: rgb(255, 255, 255);
        font-size: 16px;
        transition: .1s ease-in-out;
    }

    #menu{
        padding: 15px 0 0 0;   
        }
    
       .bottom-ad{
           padding: 7px 22px;
           background: #fff;
           color: #002f34;
           float: right;
           font-size: 13px;
           position: relative;
           top: -24px;
       }

       ul{
           position: relative;
           right: 85px;
           font-size: 15px;
        }
    }

    @media only screen and (min-width: 1024px) {

    header{
        height: 90px;
        padding: 20px 7%;   
    }

    #search-header{
        padding: 8px;
        float: left;
        height: 50px;
        left: 25%;
    }

    #search-form {
        margin: 0px;   
        padding: 0 10px;
        }

    #searchsubmit{
        padding: 0 0 0 15px;
        cursor: pointer;
        outline: none;
        border: none;
        background: 0 0;
        color: rgb(255, 255, 255);
        font-size: 16px;
        transition: .1s ease-in-out;
    }

    #menu{
        padding: 15px 0 0 0;   
        }
    
       .bottom-ad{
           padding: 7px 22px;
           background: #fff;
           color: #002f34;
           float: right;
           font-size: 13px;
           position: relative;
           top: -24px;
       }

       ul{
           position: relative;
           right: 85px;
           font-size: 15px;
        }
  }

  @media only screen and (min-width: 1439px) {

    header{
        height: 100px;
        padding: 25px 10%;   
    }

    #search-header{
        padding: 8px;
        float: left;
        height: 50px;
        left: 37%;
    }

    #search-form {
        margin: 0px;   
        padding: 0 10px;
        }

    #searchsubmit{
        padding: 0 0 0 15px;
        cursor: pointer;
        outline: none;
        border: none;
        background: 0 0;
        color: rgb(255, 255, 255);
        font-size: 19px;
        transition: .1s ease-in-out;
    }

    #menu{
        padding: 15px 0 0 0;   
        }
    
       .bottom-ad{
           padding: 7px 22px;
           background: #fff;
           color: #002f34;
           float: right;
           font-size: 15px;
           position: relative;
           top: -26px;
       }

       ul{
           position: relative;
           right: 39px;
           font-size: 15px;
        }
  }

  @media only screen and (min-width: 2559px) {

    header{
        height: 120px;
        padding: 35px 15%;   
    }
    
        .bottom-ad{
            padding: 7px 22px;
            background: #fff;
            color: #002f34;
            float: right;
            font-size: 23px;
            position: relative;
            top: -39px;    
        }

        #search-header{
            margin:  0 0 0 3%;
            padding: 8px;
            height: 50px;
            left: 37%;
        }
    
        #search-form {  
            border-radius: 3px;
            padding: 0 10px 0 10px;
            width: 400px;
            height: 45px;
            position: relative;
            bottom: 5px;
            }
    
        #searchsubmit{
            padding: 0 0 0 15px;
            font-size: 20px;
            position: relative;
            bottom: 5px;
        }
        ul{
            position: relative;
            bottom: 6px;
            right: 15px;
            font-size: 24px;
        }
  }