*{
    transform: scale(0.);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: nunito,Helvetica,Arial,sans-serif;
}
body{
    background-color: #1F4068;
}
header{
    height: 70px;
    background-color: #162447;
    width: 100%;
    display: inline-block;
}   
nav{
    height: auto;
    background-color: #BAE8E8;
    padding: 10px 0;
}
.text-nav{
    text-align: center;
}
#ogloszenia{
    height: auto;
    background-color: #941616;
    padding: 20px 0;
}
#announcements{
    margin: 0 auto;
    width: 80%;
    padding: 1em;
    height: 180px;
    background-color: #fdfdfdbb;
}
.bottom-nav{
    height: 455px;
    width: 100%;
    background-color: #E33E5A;
}
footer{
    height: auto;
}
#rodo{
    position: static;
    bottom: 0px;
    padding: 30px;
    width: 100%;
    background-color: #242020;
    position: fixed;
    color: white;
    font-family: 'Montserrat', sans-serif; 
    font-size: large;
    z-index: 1;
}
.buttonrodo{
    margin: 10px 0 0 0;
    background-color: black;
    color: white;
    width: 80px;
    text-align: center;
    padding: 5px;
    border-radius: 10%;
  }
.buttonrodo:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: 0.3s;
}
#menu{        
    margin: 15px 0;    
    width: auto;
    float: right;
    color: white;
    letter-spacing: 1px;
    white-space: nowrap;     
}
.bottom-ad{ 
    margin: 19px 10px;
    padding: 7px 22px;
    background: #fff;
    color: #002f34;
    float: right;
    font-size: 8px;
}
.logo-header{
    float: left;
    height: 70px;
    width: 100px;
}
a{
   color: white;
   text-decoration: none;
   transition: .3s ease-in-out;
}
a:hover{
    color: rgb(222, 172, 10);
}
.login-hover{
    color: #000000;
}
#search-header{
    margin: 0.5em 10%;
    float: left;
}
#searchsubmit{
    cursor: pointer;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 12px;
    transition: .3s ease-in-out;
    padding: 15px;
    cursor: pointer;
    background: 0 0;
    font-size: 12px;
}   
#search-form{
    background: #ffffff;
    border-radius: 3px;
    padding: 0 10px;
    width: 350px;
    height: 34px;
    outline: none;
    transition: width 1.9s;
    letter-spacing: .2px;
    background: #ffffff;
    border-radius: 3px;
    font-family: nunito,Helvetica,Arial,sans-serif;
    font-weight: 800;
    color: #000000;
}
#footer-links,#footer-links-2{
    padding: 20px 0 40px 10%;
    height: auto;
    width: 22%;
    float: left;
}
#footer-icons{
    margin: 20px 10% 0 0;
    height: auto;
    float: right;
    color: #ffffff;
}           
.p-footer{
    text-align: center;
}
.link-to-app{
    margin: 10px 10px 0 10px;
    height: 40px;
    width: 140px;
    border-radius: 7%;
}
#text-area{
    float: left;
    margin: 10px 20px;
    height: 120px;
    background-color: #E33E5A;
    width: calc(100% - 360px);
}
#opinion{
    width: auto;
    height: 150px;
    border-radius: 100%;
    float: right;
    padding: 10px 20px 10px 0;
}
#user-ad{
    width: auto;
    height: 150px;
    border-radius: 100%;
    float: left;
    padding: 10px 0px 10px 20px;
}
.user-photo{
    float: left;
}
.user-photo,.user-photo-2{
    border-radius: 100%;
}
ul{
    width: 100%;
    text-align: center;
}
li{
    display: inline-block;
    width: auto;
    margin: 1px 1em;
}
#login-window{
    width: 40%;
    margin: 0 auto;
    padding: 20px 0;
    height: auto;
    background-color: #ccffff;
}
#login-form{
    margin: 5%;
    padding: 5%;
    height: auto;
    margin: 0 auto;
}
.input-form{
    width: 100%;
    height: auto;
    text-align: left;
}
.input-a{
    color: #000000;
    font-size:small;
    margin: auto;
}
.submit-form{
    padding: 3%;
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    text-align: center;
}
#teaminfo{
    padding: 20px 50px;
    text-align: center;
    background-color: #fff;
}
#authors{
    text-align: center;
}
#teamphotos{
    padding: 10px;
    background-color: #ffffff;
    width: auto;
    display: inline-block;
    text-align: center;
}
.user-photo-team{
    margin: 0 20px;
    background-size: auto;
    width: 190px;
    height: 190px;
    border-radius: 100%;
}
span{
    display: none;
}
  @media only screen and (max-width: 769px) {
    header{
        padding: 10px;
    }
     .logo-header{
         margin-top: 5px;
         width: 67.6px;
         height: 48.3px;
     }
     #footer-links,#footer-links-2{
         margin: 0;
         width: 50%;
     }
    .bottom-ad{
        margin: -7px 0 0 10px;
        font-size: 15px;
    }
    .logo-header{
        width: 67.6px;
        height: 48.3px;
    }
    #search-header{
        margin: -4px -15%;
    }
    span{
        display: block;
        float: right;
    }
    #menu, #footer-icons, #search-header{
        display: none;
    }
    #login-window{
        width: 75%;
    }
  }
  @media only screen and (min-width: 769px)and (max-width: 1023px) {
    header{
        padding: 10px 2em;
    }
    .bottom-ad{
        margin: -7px 0 0 10px;
        font-size: 15px;
    }
    .logo-header{
        margin-top: 5px;
        width: 67.6px;
        height: 48.3px;
    }
    #searchsubmit{
        font-size: 15px;
    }
    #login-window{
        width: 65%;
    }
    #search-header{
        margin: 0 20px;
    }
    #search-form{
        width: 250px;
    }
  }
  @media only screen and (min-width: 1024px)and (max-width: 1400px) {
    header{
        padding: 10px 5em;
    }
    #search-form{
        width: 270px;
    }
    #search-header{
        margin-top: 2px;
    }
    .logo-header{
        height: 58.3px;
        width: 83.3px;
    }
  }
  @media only screen and (min-width: 1440px) {
    header{
        height: 100px;
        padding: 25px 10%;   
    }
    #searchsubmit{
        padding: 0 0 0 15px;
        font-size: 19px;
    }
    #search-form{
        width: 420px;
    }
    .bottom-ad{
        padding: 7px 22px;
        font-size: 15px;
        position: relative;
        top: -26px;
    }
  }